<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionStrDBEfideContabilidad_PRD" connectionString="Data Source=EFIDESIS\SERV_EFIDE;Initial Catalog=FENIXCBE;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBEfideCartera_PRD" connectionString="Data Source=EFIDESIS\SERV_EFIDE;Initial Catalog=FENIXCAT;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBEfideFactoring_PRD" connectionString="Data Source=EFIDESIS\SERV_EFIDE;Initial Catalog=dbFactoring;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBFENIXSEG_PRD" connectionString="Data Source=EFIDESIS\SERV_EFIDE;Initial Catalog=FENIXSEG;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBFENIXCAT_PRD" connectionString="Data Source=EFIDESIS\SERV_EFIDE;Initial Catalog=FENIXCAT;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBFENIXDB_PRD" connectionString="Data Source=EFIDESIS\SERV_EFIDE;Initial Catalog=FENIXDB;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBAdeudosInversiones_PRD" connectionString="Data Source=EFIDESIS\SERV_EFIDE;Initial Catalog=dbAdeudos;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>

    <add name="ConexionStrDBEfideContabilidad_TEST" connectionString="Data Source=EFIDESIS;Initial Catalog=FENIXCBE;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBEfideCartera_TEST" connectionString="Data Source=EFIDESIS;Initial Catalog=FENIXCAT;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBEfideFactoring_TEST" connectionString="Data Source=EFIDESIS;Initial Catalog=dbFactoring;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBFENIXSEG_TEST" connectionString="Data Source=EFIDESIS;Initial Catalog=FENIXSEG;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBFENIXCAT_TEST" connectionString="Data Source=EFIDESIS;Initial Catalog=FENIXCAT;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBFENIXDB_TEST" connectionString="Data Source=EFIDESIS;Initial Catalog=FENIXDB;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
    <add name="ConexionStrDBAdeudosInversiones_TEST" connectionString="Data Source=EFIDESIS;Initial Catalog=dbAdeudos;Persist Security Info=True;User ID=sa;Password=Peligro2010;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Ambiente" value="TEST"/>
    <add key="RutaDocumentosAdjuntos" value="Z:\AdeudosInversiones\adjuntos\"/>
    <add key="ActivadorMenuDinamico" value="00344"/>
    <add key="ActivadorMenuDinamico" value="00343"/>
    <!--ACTVADOR DE MENÚ DINÁMICO-->
    <add key="ListaUsuariosMenuDinamico" value="00344"/>
    <!--LISTA DE USUARIOS A VALIDAR SI SE ACTIVA EL MENÚ DINÁMICO-->
    <add key="AnexoSitemas" value="141"/>
  </appSettings>
</configuration>